.App .students {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App .user-details {
  margin-right: 120px;
}

.App .user-details:last-child {
  margin-right: 0
}